@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";

.patientSearchIconWrapper {
  display: flex;
  width: 31vw;
  justify-content: flex-end;
  align-items: center;
}

.patientSearchInput {
  margin: 0;
}

.patientSearchInput input:focus {
  outline: none;
}

// desktop mode styling
:global(.omrs-breakpoint-gt-tablet) .searchArea {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 52vw;
  border: $spacing-01 solid var(--omrs-color-brand-black);
  height: calc($spacing-08 - 0.25rem);
  margin-right: $spacing-01;
}

// tablet mode styling
:global(.omrs-breakpoint-lt-desktop) .searchArea {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  border: $spacing-01 solid var(--omrs-color-brand-orange);
  margin-right: $spacing-01;
  position: fixed;
  top: $spacing-09;
  right: 0;
  left: 0;
}

.activeSearchIconButton {
  background-color: $brand-02;
}

.closeButton {
  background-color: $brand-02;
}

.searchButton {
  background-color: $inverse-02;
}

.searchBox {
  justify-content: center;
}

.searchText {
  width: 80%;
  margin: $spacing-08 $spacing-05 0;
  justify-content: center;
}

.searchContent {
  text-align: center;
  margin: $spacing-02;
}

.search {
	position: relative;
	width: 90px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;

	&__circle {
		width: 78px;
		height: 76px;
    background-color:#cee6e5;
		border: 6px solid #cee6e5;
		border-radius: 100px;
	}

	&__rectangle {
		position: absolute;
		right: 0;
    bottom: 5px;
		width: 40px;
		transform: rotate(45deg);
		border: 3px solid #9acbca;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
}

.userIcon {
  width: 70px;
  height: 70px;
  color: #9acbca;
}

.searchPatient {
  font-weight: bold;
  @include carbon--type-style("productive-heading-02");
  margin-bottom: $spacing-02;
}

.searchFormStyle {
  margin-bottom: $spacing-04;
}

.buttonSet {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.backButton {
  fill: $color-blue-60-2;
  color: $color-blue-60-2;
  margin-top: 0.7rem;
}

.searchFormTitle {
  display: flex;
  align-items: center;
  height: $spacing-09;
}

.searchFormTitle span {
  font-weight: bold;
}

.backButtonSet {
  width : 40%;
  display: flex;
}

.searchPatient {
  padding: $spacing-04 0 $spacing-04;
  font-weight: bold;
  @include carbon--type-style("productive-heading-02");
}

.h5 {
  color: #a8a8a8;
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #a8a8a8; 
  line-height: 0.1em;
  margin: $spacing-03 0 $spacing-06; 
} 

.span { 
  background:#f4f4f4; 
  padding: 0 $spacing-08; 
}

.searchSwitch {
  width : 40%;
  margin: 0 $spacing-03 0;
}

.buttonsGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}



 


